.cs1102-project-topic1 {
  position: absolute;
  top: 49px;
  left: calc(50% - 314px);
  letter-spacing: -0.02em;
}
.reflections-child {
  position: absolute;
  width: 80.83%;
  top: 132px;
  right: 9.58%;
  left: 9.58%;
  border-radius: var(--br-3xs);
  background-color: var(--color-midnightblue-100);
  height: 68px;
}
.button7 {
  position: relative;
  font-size: var(--font-size-11xl);
  letter-spacing: -0.02em;
  font-weight: 600;
  font-family: var(--header-1);
  color: var(--color-white);
  text-align: center;
}
.button6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-12xl);
  background-color: var(--color-slategray);
  position: absolute;
  top: 132px;
  left: calc(50% + 266px);
  border-radius: var(--br-21xl);
  overflow: hidden;
  flex-direction: row;
}
.button10,
.button6,
.button8,
.button9 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button9 {
  width: 95px;
  position: relative;
  font-size: var(--font-size-11xl);
  letter-spacing: -0.02em;
  font-weight: 600;
  font-family: var(--header-1);
  color: var(--color-white);
  text-align: center;
  flex-shrink: 0;
}
.button10,
.button8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-12xl);
  background-color: transparent;
  position: absolute;
  top: 132px;
  border-radius: var(--br-8xs);
  height: 68px;
  overflow: hidden;
  flex-direction: row;
  box-sizing: border-box;
}
.button8 {
  left: calc(50% - 108px);
}
.button10:hover,
.button8:hover {
  background-color: var(--color-white);
}
.button10 {
  width: 14.75%;
  right: 75.67%;
  left: 9.58%;
}
.cicles-icon1 {
  position: absolute;
  top: -115px;
  left: -78px;
  width: 1476px;
  height: 710px;
}
.reflections {
  width: 100%;
  position: relative;
  background-color: var(--color-midnightblue-200);
  height: 1803px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lgi);
  color: var(--color-white);
  font-family: var(--button);
}
